<template>
    <!-- <input type="checkbox" v-bind:checked = 'checked' v-on:change="$emit('change', $event.target.checked)"> -->
   <input type="checkbox" v-bind:checked = 'checked' v-on:change="inputChange">
</template>


<script>
  export default {
    name: "NameIuput",
    model: {
      prop: "checked",
      event: "change"
    },
    props: {
      checked: Boolean
    },
    methods:{
      inputChange(e){
        this.$emit('change', e.target.checked)
      }
    }
  };
</script>


<style lang="stylus" scoped>
  // input[type="checkbox"]
  //   background-color: red;

</style>