<template>
  <div id="BtnCounter">
    <button @click="countPlus">You clicked me {{ count }} times. {{btnContents}} </button> <span v-if='btnIndex'>{{btnIndex}}</span>
  </div>
</template>

<script>
  export default {
    name: "BtnCounter",
    props: {
      btnContents: {
        type: String,
        required: true
      },
      btnIndex: {
        type: Number,
        required: false
      },
      // props验证大全
      example01: {
        // 多个可能的类型
        type: [String, Number],
        required: false,
        default: 100
      },
      example02: {
        // 带有默认值的对象
        type: Object,
        default: function() {
          return { message: "hello world" };
        }
      },
      example03:{
        // 自定义验证函数
        validator:function(value){
          return['success','warning','danger'].indexOf(value) !== -1
        }
      }
    },
    data() {
      return {
        count: 0
      };
    },
    methods: {
      countPlus: function() {
        this.count++;
        console.log(`该按钮总共被点击了 ${this.count} 次`);
        this.$emit("totalSumPlus"); // 返回父级元素
      }
    },
    mounted: function() {
      console.log("btnCounter");
    }
  };
</script>

<style scoped>
#BtnCounter{
  background-color: orange;
}
</style>
