<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>{{title}}</h2>

    <SliderMo />

    <BtnCounter
      btnContents='This is first btn'
      v-on:totalSumPlus='totalSumPlus'
    />
    <BtnCounter
      btnContents='This is secont btn'
      v-on:totalSumPlus='totalSumPlus'
    />
    <BtnCounter
      btnContents='This is third btn'
      v-on:totalSumPlus='totalSumPlus'
    />
    <BtnCounter
      v-for='item in items'
      v-bind:btnContents='item.title'
      v-bind:btnIndex='item.index'
      v-bind:key='item.index'
      v-on:totalSumPlus='totalSumPlus'
    />

    <NameInput v-model="InputVue" />
    <GoodsTable />
    <Box01/>
    <Box01>乱写Box01内容</Box01>
    <Box01 class="dd">
      <template v-slot:default='slotProps'>
        <p>作用域插槽的应用1</p>
        <ul>
          <li v-for="item in slotProps.data01" :key='item'>{{item}}</li>
        </ul>
      </template>
    </Box01>
    <Box01>
      <template v-slot:default='slotProps'>
       <p>作用域插槽的应用2</p>
       <ul>
         <li v-for="item in slotProps.data01" :key='item'>{{item}}</li>
         <li v-for="item in slotProps.data02" :key='item'>{{item}}</li>
       </ul>
      </template>
    </Box01>

    <Tab01/>

  </div>
</template>

<script>
  import SliderMo from "./Slider/SliderMo.vue";
  import BtnCounter from "./Btn/BtnCounter.vue";
  import NameInput from "./Input/NameInput.vue";
  import GoodsTable from "./Table/GoodsTable.vue";
  import Box01 from "./Box/Box01.vue";
  import Tab01 from "./Tab/Tab01.vue"

  export default {
    name: "HelloWorld",
    components: {
      SliderMo,
      BtnCounter,
      NameInput,
      GoodsTable,
      Box01,
      Tab01
    },
    props: {
      msg: String
    },
    data() {
      return {
        title: "Hello moto",
        totalSumNum: 0,
        items: [
          { index: 1, title: "This is items button one" },
          { index: 2, title: "This is items button two" },
          { index: 3, title: "This is items button three" }
        ],
        InputVue: ""
      };
    },
    methods: {
      totalSumPlus: function() {
        this.totalSumNum++;
        console.log(`按钮总共被点击了 ${this.totalSumNum} 次`);
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .dd
    background-color: yellow
    li
      display block
      text-align left

</style>
