<template>
  <ul>
    <li v-for="(item,index) in tabContents" :key='index' @click="">
      {{item.title}}
    </li>
  </ul>

</template>


<script>
  export default {
    name: "box01",
    data() {
      return {
        tabIndex:0,
        tabContents:[
          {
            title:'东半球',
            contensts:['第一个','第二个','第三个','第四个','第五个','第六个']
          },
          {
            title:'西半球',
            contensts:['第一座','第二座','第三座','第四座','第五座','第六座','第七座']
          }
        ]
      };
    },
    methods:{
      tab01Handle(e,$event){
        console.log(e)
        console.log($event.target.innerText)
        console.log($event)
      }
    }
  };
</script>>


