<template>
  <tr class="GoodsTr">
    <td>{{indexNum + 1}}</td>
    <td>{{name}}<slot>ss</slot></td>
    <td>{{price}}</td>
    <td>{{amount}} <button @click="amountHandle(1)"> ++ </button><button  @click="amountHandle(-1)"> -- </button> </td>
    <td>{{itemPrice}}</td>
    <td><button @click="delateItem">删除此项</button></td>
  </tr>
</template>

<script>
  export default {
    name: "GoodsTr",
    props: {
      indexNum: Number,
      name: String,
      price: Number
    },
    data() {
      return {
        amount: 1
      };
    },
    methods:{
      amountHandle: function(i){
        this.amount += i
        if(this.amount <= 0){
          this.amount = 0
        }
      },
      delateItem:function(){
        this.$emit("delateItem");
        this.$emit("getPriceDelate" , this.indexNum);
      }
    },
    computed:{
      itemPrice:function(){
        return this.price * this.amount
      }
    },
    mounted:function(){
      // console.log(this.itemPrice)
      // let ePr = this.itemPrice
      this.$emit("getPriceIni" , this.itemPrice , this.indexNum);
    },
    watch:{
      itemPrice:function(){
        this.$emit("getPriceChange" , this.itemPrice , this.indexNum);
      }
    }
  };
</script>


<style lang="stylus" scoped>

td
  border-right 1px solid #333
  border-bottom 1px solid #333
  padding 10px 10px;
</style>


