<template>
  <div class="GoodsTable">

    <table>
      <thead>
        <tr>
          <th>index</th>
          <th>书名</th>
          <th>单品价格</th>
          <th>数量</th>
          <th>项目总价</th>
          <th>状态修改</th>
        </tr>
      </thead>
      <tbody>
        <GoodsTr
          v-for='(item,index) in goodsList'
          :key='item.name'
          :indexNum='index'
          :name='item.name'
          :price='item.price'
          v-on:delateItem='delateItem(index)'
          v-on:getPriceChange='getPriceChange'
          v-on:getPriceIni='getPriceIni'
          v-on:getPriceDelate='getPriceDelate'
        />
      </tbody>
    </table>

    <p>总价是:{{totalPrice}}</p>

  </div>
</template>

<script>
  import GoodsTr from "./GoodsTr.vue";
  export default {
    name: "GoodsTable",
    components: {
      GoodsTr
    },
    data() {
      return {
        goodsList: [
          { name: "水浒传", price: 100 },
          { name: "西游记", price: 200 },
          { name: "红楼梦", price: 300 },
          { name: "三国", price: 400 }
        ],
        totalPriceArr: [],
        totalPrice: 0
      };
    },
    methods: {
      delateItem: function(e) {
        this.goodsList.splice(e, 1);
      },
      getPriceIni: function(e, i) {
        this.totalPriceArr[i] = e;
        console.log(this.totalPriceArr);
        this.getTotalPrice();
      },
      getPriceChange: function(e, i) {
        this.totalPriceArr.splice(i, 1, e);
        console.log(this.totalPriceArr);
      },
      getPriceDelate: function(i) {
        this.totalPriceArr.splice(i, 1);
        console.log(this.totalPriceArr);
      },
      getTotalPrice() {
        let sum = 0;
        this.totalPriceArr.forEach(val => {
          sum += val;
        });
        this.totalPrice = sum;
      }
    },
    watch: {
      goodsList: function() {
        console.log("goodsList changed");
      },
      totalPriceArr: function() {
        console.log("totalPriceArr changed");
        this.getTotalPrice();
      }
    }
  };
</script>

<style lang="stylus" scoped>
  .GoodsTable {
    background-color: antiquewhite;

    table {
      width: 100%;
      border: 1px solid #000;
      border-collapse: collapse;

      th {
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
      }
    }
  }
</style>


