<template>
<div class="box01">
    <slot v-bind:data01='pLanguages'  v-bind:data02='pCountries'>
      <div class="">
        <p>默认slot内容</p>
        <ul class="languageList">
          <li
            v-for='item in pLanguages'
            :key='item'
          >{{item}}</li>
        </ul>
      </div>
    </slot></div>
</template>


<script>
  export default {
    name: "box01",
    data() {
      return {
        pLanguages: ["aLan", "bLan", "cLan", "dLan", "eLan"],
        pCountries: ["China", "USA", "Japan", "Korea", "Italy"]
      };
    }
  };
</script>>

<style lang="stylus" scoped>
  .box01
    box-sizing border-box
    border 1px solid red
    margin 0 auto 20px
    .languageList
      list-style: none;
      li
        background-color: orange;
        margin-bottom: 10px;
        text-align: left;


</style>