<template>
<div id="sliderMo">
<ul class="goodsList">
  <li v-for="(item, num) in items" v-bind:key='num' v-bind:class="{ 'active': index == num , 'normal' :  index != num}">
    <p>{{item.name}}</p>
    <p>{{item.price}}</p>
  </li>
</ul>
<div class="currentSec">
  <p>{{items[index].name}}</p>
  <p>{{items[index].price}}</p>
</div>
<p @click="indexHandle(1)">++</p>
<p @click="indexHandle(-1)">--</p>

<p @click.shift.exact.once="resIndex">restart （只运行一次，按下shift键时候点击才有效）</p>

<button @click="warn('Form cannot be submitted yet.', $event)">
  Submit
</button><br>

<button @click.prevent.once ="indexHandle(0)">nothing</button>

</div>
</template>

<script>
export default {
  name: 'SliderMo',
  data(){
    return{
      index:0,
      items:[
        {name:'aaa',price:100},
        {name:'bbb',price:200},
        {name:'ccc',price:300},
        {name:'ddd',price:400},
        {name:'eee',price:500}
      ]
    }
  },
  watch:{
    index: function(val, oldVal){
      let message
      if(val < oldVal){
        message = '减小了'
      }
      else {
        message = '增大了'
      }
      console.log('changed' , message)
    }
  },
  methods:{
    indexHandle:function(e){
      this.index = this.index + e
      if(this.index < 0) {this.index = 0}
      if(this.index >= this.items.length)  {this.index = this.items.length - 1}
      console.log(this.index)
    },
    warn:function(message,event){
      if(event){
        event.preventDefault()
      }
      alert(message)
    },
    resIndex:function(){
      this.index = 0;
    }
  },
  mounted: function () {
    console.log(this.index)
  }
}
</script>

<style scoped>


ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.currentSec{
  background-color: #efefef;
}
.goodsList .active{
  background-color: pink;
}

#sliderMo{
  background-color: beige;
}
</style>
